.contentGestionPoint{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.select {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 8rem;
}

.statName {
    width: 8rem;
}

.statNum {
    font-family: Arial, Helvetica, sans-serif;
}

.btnAddRem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: var(--color-4);
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: var(--color-1);
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 5px;

    &:hover {
        box-shadow: inset 0px 0px 2px 0px black;
    }
}