<section class="totalForm">
  <section class="contentSelectChoice" *ngIf="creation">
    <div *ngIf="infoDeBaseVisible" class="baseSelector">
      <span class="contentInfo">
        <h1>Informations de base</h1>
        <span class="selecteur">
          <alignementSelector
            (selectItem)="onAlignementSelected($event)"
          ></alignementSelector>
          <nom-du-perso (selectItem)="onNameSelected($event)"></nom-du-perso>
          <nom-du-joueur
            (selectItem)="onNameUserSelected($event)"
          ></nom-du-joueur
        ></span>
      </span>
      <button
        id="btnNext"
        class="btnBaseToRace"
        (click)="toggleVisibilityBaseRace()"
      >
        Next
      </button>
    </div>

    <div *ngIf="raceVisible" class="raceSelector">
      <h2>Races</h2>
      <races
        class="contentAllRace"
        (selectItem)="onRaceSelected($event)"
      ></races>
      <button
        id="btnNext"
        class="btnRaceToClasses"
        (click)="toggleVisibilityRaceClasse()"
      >
        Next
      </button>
    </div>

    <div *ngIf="classeVisible" class="classeSelector">
      <h2>Classe</h2>
      <classes
        class="contentAllClasse"
        (selectItem)="onClasseSelected($event)"
      ></classes>
      <button
        id="btnNext"
        class="btnClasseToHistorique"
        (click)="toggleVisibilityClasseHistorique()"
      >
        Next
      </button>
    </div>

    <div *ngIf="historiqueVisible" class="historiqueSelector">
      <h2>Historique</h2>
      <historique
        class="contentAllHistorique"
        (selectItem)="onHistoriqueSelected($event)"
      ></historique>
      <button
        id="btnNext"
        class="btnHistoriqueStat"
        (click)="toggleVisibilityHistoriqueStat()"
      >
        Next
      </button>
    </div>

    <div *ngIf="statVisible" class="statSelector">
      <h2>Statistique</h2>
      <caracteristique
        class="contentAllStat"
        (statSelected)="onStatSelected($event)"
        (statBonusAdd)="onStatBonusAdd($event)"
        (finish)="convertFinish($event)"
      ></caracteristique>
      <button class="btnStatRandom" (click)="toggleVisibilityStatStatRandom()">
        Random stat
      </button>
      <button
        id="btnNext"
        class="btnStatToFinish"
        *ngIf="btnfinishVisible"
        (click)="toggleVisibilityStatFinish()"
      >
        Finish
      </button>
    </div>

    <div *ngIf="statRandomVisible" class="statRandomSelector">
      <h2>Statistique Random</h2>
      <caracteristique-random
        class="contentAllStatRandom"
        (statSelectedRandom)="onStatSelectedRandom($event)"
        (statBonusSelectedRandom)="onStatBonusAdd($event)"
        (finish)="convertFinish($event)"
      ></caracteristique-random>
      <button class="btnRandomStat" (click)="toggleVisibilityStatRandomStat()">
        Custom stat
      </button>
      <button
        id="btnNext"
        class="btnStatToFinish"
        (click)="toggleVisibilityStatFinish()"
      >
        Finish
      </button>
    </div>
  </section>
  <section class="selectedData" *ngIf="statFinish">
    <h1>Mon Personnage</h1>
    <div class="allReslutInfo">
      <span class="allName">
        <h2>{{ perso.namePerso }}</h2>
        <p>Personnage de "{{ perso.nameUser }}"</p>
      </span>
      <div class="Info">
        <div class="InfoPratique">
          <p>Classe : {{ perso.classe }}</p>
          <p>Race : {{ perso.race }}</p>
          <p>Alignement : {{ perso.alignement }}</p>
          <p>Historique : {{ perso.historique }}</p>
        </div>
        <div class="StatEtStatbonus">
          <div class="firstStat">
            <span class="statForce">
              <h3>Force</h3>
              <p> Final : {{ perso.stat[0] + perso.statBonus[0] }}</p>
              <p> Bonus : ({{ perso.statBonus[0] }})</p>
            </span>
            <span class="statDexterite">
              <h3>Dexterite</h3>
              <p> Final :{{ perso.stat[1] + perso.statBonus[1] }}</p>
              <p> Bonus : ({{ perso.statBonus[1] }})</p>
            </span>
            <span class="statConstitution">
              <h3>Constitution</h3>
              <p> Final :{{ perso.stat[2] + perso.statBonus[2] }}</p>
              <p> Bonus : ({{ perso.statBonus[2] }})</p>
            </span>
          </div>
          <div class="secondStat">
            <span class="statIntelligence">
              <h3>Intelligence</h3>
              <p> Final :{{ perso.stat[3] + perso.statBonus[3] }}</p>
              <p> Bonus : ({{ perso.statBonus[3] }})</p>
            </span>
            <span class="statSagesse">
              <h3>Sagesse</h3>
              <p> Final :{{ perso.stat[4] + perso.statBonus[4] }}</p>
              <p> Bonus : ({{ perso.statBonus[4] }})</p>
            </span>
            <span class="statCharisme">
              <h3>Charisme</h3>
              <p> Final :{{ perso.stat[5] + perso.statBonus[5] }}</p>
              <p> Bonus : ({{ perso.statBonus[5] }})</p>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
