<section class="contentAlignement">
  <h2>Alignement</h2>
  <select
    name="alignement"
    id="alignement"
    class="choiceAlignement"
    (change)="updateAlignement($event)"
  >
    <option value="loyal-bon">Loyal bon</option>
    <option value="loyal-neutre">Loyal neutre</option>
    <option value="loyal-mauvais">Loyal mauvais</option>
    <option value="neutre-bon">Neutre bon</option>
    <option value="neutre">Neutre</option>
    <option value="neutre-mauvais">Neutre mauvais</option>
    <option value="chaotique-bon">Chaotique bon</option>
    <option value="chaotique-neutre">Chaotique neutre</option>
    <option value="chaotique-mauvais">Chaotique mauvais</option>
  </select>
</section>
