.main-container {
    background-color: fuchsia;
    border: 20px solid rgb(40, 178, 74);
    width: auto;
    height: auto;
}

.common-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
}