<div class="form-historiques main-container">
  <h1>Historiques</h1>
  <p>Choisissez l'historique de votre personnage.</p>
    <div class="historiques" [formGroup]="formHistoriquesGroup">
        <label class="card-historiques"
        *ngFor="let historique of historiqueList;"
        style="background-color: red; width: 100px; height: 100px;">
        <input required="true" type="radio" [value]="historique" formControlName="selectedHistorique" name="selectedHistorique" />
        {{ historique }}
        </label>
    </div>
</div>
