<section class="RaceComponent">
  <section class="contentBtnRaces">
    <div *ngFor="let item of resultRace">
      <div
        class="raceList"
        [ngClass]="{ selected: item.name === selectedRace }"
        (click)="choiceRace($event, item.name); hoveredRace = item"
      >
        {{ item.name }}
      </div>
    </div>
  </section>

  <section class="informations">
    <span class="all">
      <h1>{{ hoveredRace?.name }}</h1>
      <span class="contentInfo">
        <p>{{ hoveredRace?.desc }}</p>
        <p>{{ hoveredRace?.languages }}</p>

        <span class="listAttribu">
          <p *ngFor="let asi of hoveredRace?.asi">
            {{ asi?.attributes[0] }}
            {{ asi?.value }}
          </p>
        </span>
      </span>
    </span>
  </section>
</section>
