<h2 mat-dialog-title>Règle du jeu D&D</h2>
<mat-dialog-content>
  <p>Pour rappel, le jeu de rôle Dungeons & Dragons consiste à narrer des aventures dans des mondes peuplés de guerriers et 
    de magiciens. Tout comme les jeux où l'on s'amuse à faire semblant, D&D repose sur l'imagination. Il faut se représenter 
    un château à l'abandon dans une forêt sombre et imaginer comment un aventurier inventé de toutes pièces réagirait aux 
    dangers présents dans un tel endroit.</p>
</mat-dialog-content>
