<section class="HistoriqueComponent">
  <section class="contentBtnHistorique">
    <div *ngFor="let item of resultHistorique">
      <div
        [ngClass]="{ selected: item.name === selectedHistorique }"
        (click)="choiceHistorique($event, item.name); hoveredHistorique = item"
        class="historiqueList"
      >
        {{ item.name }}
      </div>
    </div>
  </section>



  <section class="informations">
    <h1>{{ hoveredHistorique?.name }}</h1>
    <span class="contentInfo">
      <p>{{ hoveredHistorique?.desc }}</p>
      <h2 *ngIf="hoveredHistorique?.skill_proficiencies">Skills</h2>
      <p>{{ hoveredHistorique?.skill_proficiencies }}</p>
      <h2 *ngIf="hoveredHistorique?.languages">Languages</h2>
      <p>{{ hoveredHistorique?.languages }}</p>
    </span>
  </section>

  <!-- <div class="contentBtnHistorique">
  <button
    [ngClass]="{ selected: item.name === selectedHistorique }"
    (click)="choiceHistorique($event)"
    *ngFor="let item of resultHistorique"
  >
    {{ item.name }}
  </button> -->
</section>
