@import '../../../variables.scss';

.char-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: $color-background;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
}

.char-card-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1rem;
    width: 100%;
}