<div class="form-equipement main-container">
    <h1>Équipement</h1>
    <p>Choisissez l'équipement de votre personnage.</p>
    <div class="equipement" [formGroup]="formEquipementGroup">
        <select formControlName="arme">
            <option *ngFor="let option of armeOptions" [value]="option">
                {{ option }}
            </option>
        </select>
        <select formControlName="armure">
            <option *ngFor="let option of armureOptions" [value]="option">
                {{ option }}
            </option>
        </select>
    </div>
</div>