* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--color-4); 


}


@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
:root{
    --color-1: #171717;
    --color-2: #444444;
    --color-3: #DA0037;
    --color-4: #EDEDED;

    --font-1: 'Inknut Antiqua', serif;
}