<section class="ClassComponent">
  <section class="contentBtnClasses">
    <div *ngFor="let item of resultClasse">
      <div
        class="classeList"
        [ngClass]="{ selected: item.name === selectedClasse }"
        (click)="choiceClasse($event, item.name); hoveredClasse = item"
      >
        {{ item.name }}
      </div>
    </div>
  </section>

  <section class="informations">
    <h1>{{ hoveredClasse?.name }}</h1>
    <span class="contentInfo">
      <p>{{ hoveredClasse?.desc }}</p>
    </span>
  </section>
</section>
